In [39]:
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
import pandas as pd
from statsmodels.stats.anova import anova_lm

In [30]:
df = pd.read_csv("train.csv")

In [31]:
df.head(5)

,Id,DistrictId,Rooms,Square,LifeSquare,KitchenSquare,Floor,HouseFloor,HouseYear,Ecology_1,Ecology_2,Ecology_3,Social_1,Social_2,Social_3,Healthcare_1,Helthcare_2,Shops_1,Shops_2,Price
0,14038,35,2.0,47.981561,29.442751,6.0,7,9.0,1969,0.089040,B,B,33,7976,5,NaN,0,11,B,184966.930730
1,15053,41,3.0,65.683640,40.049543,8.0,7,9.0,1978,0.000070,B,B,46,10309,1,240.0,1,16,B,300009.450063
2,4765,53,2.0,44.947953,29.197612,0.0,8,12.0,1968,0.049637,B,B,34,7759,0,229.0,1,3,B,220925.908524
3,5809,58,2.0,53.352981,52.731512,9.0,8,17.0,1977,0.437885,B,B,23,5735,3,1084.0,0,5,B,175616.227217
4,10783,99,1.0,39.649192,23.776169,7.0,11,12.0,1976,0.012339,B,B,35,5776,1,2078.0,2,4,B,150226.531644

In [50]:
lm_model = ols('Price ~ C(Shops_2) * C(Ecology_3)', df).fit()

In [55]:
table = sm.stats.anova_lm(lm_model, typ=2)
table

                               sum_sq      df           F        PR(>F)
C(Shops_2)               2.999618e+12     1.0  350.281480  7.508377e-77
C(Ecology_3)             3.453985e+12     1.0  403.340337  5.534566e-88
C(Shops_2):C(Ecology_3)  2.486544e+12     1.0  290.367140  3.319751e-64
Residual                 8.560881e+13  9997.0         NaN           NaN

- PR(>F) - Достоверность влияния. Т.е. если меньше  альфа, то значит действительно влияет.
- sum_sq - доля влияния

 - C(Shops_2): влияние Shops_2 на Price.  sum_sq - дисперсия; df - степени свободы; F - значение Фишера по данному признаку; PR(>F) - p-value (если меньше альфа, то значит признак имеет значение)
  - C(Ecology_3): влияние Ecology_3 на Price.  sum_sq - дисперсия; df - степени свободы; F - значение Фишера по данному признаку; PR(>F) - p-value (если меньше альфа, то значит признак имеет значение)
  - C(Shops_2):C(Ecology_3): влияние Shops_2 и Ecology_3 на Price.  sum_sq - дисперсия; df - степени свободы; F - значение Фишера по данному признаку; PR(>F) - p-value (если меньше альфа, то значит признак имеет значение)
  - Residual не обьясненный фактор.

In [64]:
table["sum_sq"][0] / table["sum_sq"].sum() - доля влияния Shops_2 на Price

0.031725552936391704

In [65]:
table["sum_sq"][1] / table["sum_sq"].sum() - доля влияния Ecology_3 на Price

0.03653117837742706

In [66]:
table["sum_sq"][2] / table["sum_sq"].sum() - доля влияния Shops_2 и Ecology_3 на Price

0.026299015487689138

In [67]:
table["sum_sq"][3] / table["sum_sq"].sum() - доля не обьясненного влияния на Price

0.9054442531984922