Строим запрос к нашему сервису

In [34]:
import requests

import urllib.request
import json 

import numpy as np

In [37]:
# Пример данных
data = ( 
    'Rent',
 616892.0,
 '10+ years',
 0.0,
 6.0,
 np.nan,
 415250.0,
 0.0,
 47.0,
 0.0,
 np.nan,
 'Short Term',
 273042.0,
 222338.0,
 6323.0,
 716.0
)

In [24]:
# формируем запрос
def send_json(x):
    (home_ownership, annual_income, years_job, tax_liens, accounts, years_history, max_credit, n_problems, last_delinquent, bankruptcies, purpose, 
    term, current_loan_amount, current_credit_balance, monthly_debt, credit_score) = x

    body = {'Home Ownership' : home_ownership,
    'Annual Income' : annual_income,
    'Years in current job' : years_job,
    'Tax Liens' : tax_liens,
    'Number of Open Accounts' : accounts,
    'Years of Credit History' : years_history,
    'Maximum Open Credit' : max_credit,
    'Number of Credit Problems' : n_problems,
    'Months since last delinquent' : last_delinquent,
    'Bankruptcies' : bankruptcies,
    'Purpose' : purpose,
    'Term' : term,
    'Current Loan Amount' : current_loan_amount ,
    'Current Credit Balance' : current_credit_balance,
    'Monthly Debt' : monthly_debt,
    'Credit Score' : credit_score}
    
    myurl = 'http://4de7-34-74-84-199.ngrok.io' + '/predict'
    headers = {'content-type': 'application/json; charset=utf-8'}
    response = requests.post(myurl, json=body, headers=headers)
    return response.json()['predictions']

In [38]:
# обращение к серверу с запросом из одного набора (его построили руками выше - data)
response = send_json(data)
print('предсказание', response)

предсказание 0.5310269516157635

Сделаем обработку массы запросов:

In [14]:
!wget 'https://drive.google.com/uc?export=download&id=1SKz0DxcAld5sMClmL8tMd1v829D2hWd6' -O X_test.csv
!wget 'https://drive.google.com/uc?export=download&id=1Ip2RyGsIVBYOXdqD04dIwnOKq4Nubsxy' -O y_test.csv

--2022-06-11 15:31:57--  https://drive.google.com/uc?export=download&id=1SKz0DxcAld5sMClmL8tMd1v829D2hWd6
Resolving drive.google.com (drive.google.com)... 108.177.13.139, 108.177.13.113, 108.177.13.101, ...
Connecting to drive.google.com (drive.google.com)|108.177.13.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-00-ak-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/bd5mskbb1j5e30pdb6g2mg6ikjhe9rt0/1654961475000/12412789190724481313/*/1SKz0DxcAld5sMClmL8tMd1v829D2hWd6?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-06-11 15:31:57--  https://doc-00-ak-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/bd5mskbb1j5e30pdb6g2mg6ikjhe9rt0/1654961475000/12412789190724481313/*/1SKz0DxcAld5sMClmL8tMd1v829D2hWd6?e=download
Resolving doc-00-ak-docs.googleusercontent.com (doc-00-ak-docs.googleusercontent.com)... 173.194.215.132, 2607:f8b0:400c:c0c::84
Connecting to doc-00-ak-docs.googleusercontent.com (doc-00-ak-docs.googleusercontent.com)|173.194.215.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 105926 (103K) [text/csv]
Saving to: ‘X_test.csv’

X_test.csv          100%[===================>] 103.44K  --.-KB/s    in 0.001s

2022-06-11 15:31:57 (72.8 MB/s) - ‘X_test.csv’ saved [105926/105926]

--2022-06-11 15:31:58--  https://drive.google.com/uc?export=download&id=1Ip2RyGsIVBYOXdqD04dIwnOKq4Nubsxy
Resolving drive.google.com (drive.google.com)... 108.177.13.139, 108.177.13.101, 108.177.13.100, ...
Connecting to drive.google.com (drive.google.com)|108.177.13.139|:443... connected.
HTTP request sent, awaiting response... 303 See Other
Location: https://doc-0k-ak-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/lhpn65av2o64bnr9v11lr14ve3ardk80/1654961475000/12412789190724481313/*/1Ip2RyGsIVBYOXdqD04dIwnOKq4Nubsxy?e=download [following]
Warning: wildcards not supported in HTTP.
--2022-06-11 15:31:58--  https://doc-0k-ak-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/lhpn65av2o64bnr9v11lr14ve3ardk80/1654961475000/12412789190724481313/*/1Ip2RyGsIVBYOXdqD04dIwnOKq4Nubsxy?e=download
Resolving doc-0k-ak-docs.googleusercontent.com (doc-0k-ak-docs.googleusercontent.com)... 173.194.215.132, 2607:f8b0:400c:c0c::84
Connecting to doc-0k-ak-docs.googleusercontent.com (doc-0k-ak-docs.googleusercontent.com)|173.194.215.132|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1723 (1.7K) [text/csv]
Saving to: ‘y_test.csv’

y_test.csv          100%[===================>]   1.68K  --.-KB/s    in 0s

2022-06-11 15:31:58 (66.0 MB/s) - ‘y_test.csv’ saved [1723/1723]

In [15]:
import pandas as pd
from sklearn.metrics import roc_auc_score, roc_curve, precision_recall_curve
from sklearn.metrics import f1_score
from urllib import request, parse


X_test = pd.read_csv("X_test.csv")
y_test = pd.read_csv("y_test.csv")

2. Передаем запрос одиночный из наших данных и посмотрим на ответ

In [26]:
response = send_json(X_test[['Home Ownership',
 'Annual Income',
 'Years in current job',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Bankruptcies',
 'Purpose',
 'Term',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score']].iloc[0,:])

In [27]:
response

0.5381713305996818

In [28]:
X_test[['Home Ownership',
 'Annual Income',
 'Years in current job',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Bankruptcies',
 'Purpose',
 'Term',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score']].head()

,Home Ownership,Annual Income,Years in current job,Tax Liens,Number of Open Accounts,Years of Credit History,Maximum Open Credit,Number of Credit Problems,Months since last delinquent,Bankruptcies,Purpose,Term,Current Loan Amount,Current Credit Balance,Monthly Debt,Credit Score
0,Rent,658217.0,10+ years,0.0,9.0,10.9,150260.0,0.0,3.0,0.0,debt consolidation,Short Term,139370.0,53200.0,10970.0,733.0
1,Home Mortgage,1028242.0,7 years,0.0,6.0,13.9,123596.0,0.0,43.0,0.0,debt consolidation,Short Term,99999999.0,56791.0,9254.0,734.0
2,Rent,1045323.0,10+ years,0.0,4.0,16.3,299090.0,0.0,33.0,0.0,debt consolidation,Long Term,440132.0,181070.0,11847.0,732.0
3,Rent,858173.0,< 1 year,0.0,7.0,10.7,213994.0,0.0,30.0,0.0,debt consolidation,Short Term,237622.0,92226.0,9225.0,721.0
4,Rent,1747772.0,4 years,0.0,13.0,24.8,189398.0,0.0,38.0,0.0,debt consolidation,Long Term,753522.0,161937.0,33499.0,667.0

3. Сделаем N запросов и оценим время

In [21]:
N = 50

In [29]:
%%time
predictions = X_test[
                     ['Home Ownership',
 'Annual Income',
 'Years in current job',
 'Tax Liens',
 'Number of Open Accounts',
 'Years of Credit History',
 'Maximum Open Credit',
 'Number of Credit Problems',
 'Months since last delinquent',
 'Bankruptcies',
 'Purpose',
 'Term',
 'Current Loan Amount',
 'Current Credit Balance',
 'Monthly Debt',
 'Credit Score']
                     ].iloc[:N].apply(lambda x: send_json(x), axis=1)

CPU times: user 219 ms, sys: 29.1 ms, total: 248 ms
Wall time: 10.9 s

In [30]:
predictions.values[:5]

array([0.53817133, 0.31957969, 0.52387818, 0.5372955 , 0.53307526])

4. Посчитаем метрику

In [31]:
y_test.head()

   Credit Default
0               1
1               0
2               0
3               0
4               1

In [32]:
import numpy as np

precision, recall, thresholds = precision_recall_curve(y_test[:N], predictions)

fscore = (2 * precision * recall) / (precision + recall)
# locate the index of the largest f score
ix = np.argmax(fscore)
print(f'Best Threshold={thresholds[ix]}, F-Score={fscore[ix]:.3f}, Precision={precision[ix]:.3f}, Recall={recall[ix]:.3f}')

Best Threshold=0.5330752637267538, F-Score=0.625, Precision=0.526, Recall=0.769

In [33]:
roc_auc_score(y_score=predictions.values, y_true=y_test.values[:N])

0.814968814968815